:root {
  /* fonts */
  --font-league-spartan: "League Spartan";
  --font-inter: Inter;
  --body-bold: "SF Pro Text";

  /* font sizes */
  --font-size-4xs: 7.69px;
  --font-size-3xs: 8px;
  --font-size-2xs: 10px;
  --font-size-xs: 11px;
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --body-bold-size: 17px;
  --font-size-2xl: 18px;
  --font-size-3xl: 20px;
  --font-size-4xl: 24px;
  --font-size-5xl: 32px;
  --font-size-6xl: 40px;
  --font-size-7xl: 48px;

  /* Colors */
   --color-gray-100: #feffff;
  --color-gray-200: #fff9f9;
  --color-gray-300: #d1e1bf;
  --color-gray-400: #f8f8f8;
  --shadow-default: #f5f5f5;
  --color-gray-600: #d0d0d0;
  --color-gray-700: #bfc5d0;
  --color-gray-800: #60a4f3;
  --color-gray-900: #949494;
  --color-gray-1000: #8d8d8d;
  --color-gray-1100: #8b8b8b;
  --color-gray-1200: #7d8796;
  --color-gray-1300: #848484;
  --color-gray-1400: #838383;
  --color-gray-1500: #717171;
  --color-gray-1600: #6c6c6c;
  --color-gray-1700: #696969;
  --color-gray-1800: #5e5e5e;
  --color-gray-1900: #525252;
  --color-gray-2000: #484848;
  --color-gray-2100: #292d34;
  --color-gray-2200: #1d1d1d;
  --color-gray-2300: #121236;
  --color-gray-2400: #666666;

  --color-white: #fff;
  --color-green-100: #00ab65;
  --color-green-200: #309700;
  --color-green-300: #2f9600;
     --color-green-500:#125f07;
  --color-green-400: #247200;
  --color-beige-100: #caffe9;
  --color-beige-200: #d0ffba;
  --color-beige-300: #f3f9ed;
  --color-teal-100: #00acd4;
  --color-violet: #4393f0;
  --color-orange-100: #e6a31c;
  --color-orange-200: #eb9500;
  --label-color-light-primary: #000;
  --color-turquoise-100: #27bc7f;
  /* Gaps */
  --gap-md: 36px;

  /* border radiuses */
  --br-6xs: 2px;
  --br-5xs: 4px;
  --br-4xs: 5px;
  --br-3xs: 5.5px;
  --br-2xs: 6px;
  --br-xs: 8px;
  --br-sm: 10px;
  --br-md: 12px;
  --br-lg: 15px;
  --br-xl: 16px;
  --br-2xl: 20px;
  --br-3xl: 24px;
  --br-4xl: 48px;
  --br-5xl: 50px;
}
